.el-header,
.el-footer {
  background-color: #B3C0D1;
  color: #333;
  text-align: right;
  line-height: 60px;
}

.el-aside {
  background-color: lightgrey;
  color: #333;
  text-align: left;
  line-height: 200px;
  height: -webkit-fill-available;
}

.el-main {
  background-color: #E9EEF3;
  color: #333;
  /* text-align: center; */
  line-height: 160px;
}

.el-container {
  height: -webkit-fill-available;
}

.el-menu:not(.el-menu--collapse) {
  width: 200px;
  /* min-height: 400px; */
}
article{
  margin-left: auto;
  margin-right: auto;
  border-left:cornsilk solid;
  border-right: cornsilk solid;
  padding: 0px 80px 0px 80px;
  width: 60%;
}

.first_sub{
    font-weight: 600;
    color: #42b983 !important;
}

.top{
  color: #A020F0;
}

.el-carousel__item div {
  color: #475669;
  font-size: 14px;
  /* opacity: 0.75; */
  line-height: 200px;
  margin: 0;
  text-align: center;
}
.el-carousel__item:nth-child(3n) {
  background-color: #EE9A00;
  opacity: 0.8;
}
.el-carousel__item:nth-child(3n+1) {
  background-color: #B3EE3A;
  opacity: 0.8;
}
.el-carousel__item:nth-child(3n+2) {
  background-color: #8470FF;
  opacity: 0.8;
}


img{
  height: 100%;
  width: 100%;
}

.block{
  width: 60%;
  margin: auto;
}


.title{
  text-align: center;
  /* margin-top: 33%; */
}

.list-complete-item {
  transition: all 5s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to
/* .list-complete-leave-active for below version 2.1.8 */ {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

#main_menu{
  line-height: 3;
}